@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
	font-size: 16px;
	font-family: 'Open Sans';
	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--bg-primary: #23232e;
	--bg-secondary: #141418;
	--transition-speed: 600ms;
	--nav-width: 5rem;
}

body {
	color: black;
	background-color: white;
	padding: 0px;
	margin: 0px;
}

main {
	margin-left: var(--nav-width);
	padding: 1rem;
}

/* Static NavBar */
.navbar {
	position: fixed;
	background-color: var(--bg-primary);
	transition: width 600ms ease;
	overflow: scroll;
	width: var(--nav-width);
}

.navbar-nav {
	list-style: none;
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100%;
}

.nav-item {
	width: 100%;

	&:last-child {
		margin-top: auto;
	}
}

.nav-logo {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1rem;
	text-align: center;
	color: var(--text-secondary);
	background-color: var(--bg-secondary);
	font-size: 1.5rem;
	letter-spacing: 0.3ch;
	width: 100%;

	.logo-text {
		display: inline;
		position: absolute;
		left: -100rem;
		transition: var(--transition-speed);
		transition-delay: var(--transition-speed);
	}

	svg {
		transform: rotate(90deg);
		transition: var(--transition-speed);
	}
}

/* All links on the nav */
.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	text-decoration: none;
	color: var(--text-primary);
	filter: grayscale(100%) opacity(0.7);
	transition: var(--transition-speed);

	&:hover {
		filter: grayscale(0%) opacity(0.7);
		background-color: var(--bg-secondary);
		transition: var(--transition-speed);
	}

	svg {
		width: 2rem;
		height: 2rem;
		min-width: 2rem;
		margin: 0 1.5rem;
		fill: yellowgreen;
	}

	.link-text {
		display: none;
		margin-left: 1rem;
		transition: var(--transition-speed);
	}
}

/* NavBar Opening */
.navbar:hover {
	width: 16rem;

	.nav-link {
		filter: none;
	}

	.nav-item:hover .link-text {
		color: white;
	}

	.link-text {
		display: block;
	}

	.nav-logo svg {
		transform: rotate(180deg);
		margin-left: 13.3rem;
	}

	.nav-logo .logo-text {
		left: 0px;
	}
}
